<div class="col-md-12 col-lg-12 col-sm-12">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="x_panel">
        <div class="x_content">
<br />
<div class="col-md-6 col-sm-6 col-xs-12">
<form id="demo-form2" data-parsley-validate #facilityform="ngForm" (ngSubmit)="processForm()" class="form-horizontal form-label-left">
    <div class="form group">
        <input type="hidden" name="id" class="form-control" #ID="ngModel" [(ngModel)]="facilityType.ID">
    </div>
    <div class="form-group">
      
      <label 
      class="control-label col-md-3 col-sm-3 col-xs-12" 
      for="facilityName">
      Facility Name 
      <span class="required">*</span>
      </label>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <input type="text"
         id="facilityName"
         class="form-control col-md-7 col-xs-12"
         name="name"
         #facilityName = "ngModel"
         [(ngModel)]="facilityType.Name"
         required minlength="4" maxlength="100" >
      </div>
    </div>
    <div class="form-group">
      <label 
      class="control-label col-md-3 col-sm-3 col-xs-12" 
      for="facilityDesciption">Facility Description 
      </label>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <textarea 
        id="facility_description_message" 
        class="form-control" 
        data-parsley-trigger="keyup" 
        data-parsley-minlength="20" 
        data-parsley-maxlength="100" 
        data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
        data-parsley-validation-threshold="10"
        name="description"
        #Description="ngModel"
        [(ngModel)]="facilityType.Description" maxlength="100">      
      </textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Upload Image">Logo
      </label>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="btn-group">
          <input type="file" name="imageFile" accept="image/*" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage"
            (change)="onChange($event)" #facilityImage/>
        </div>
        <div *ngIf="facilityType.Image">
          <img [src]="facilityType.Image" class="avatar" alt="Avatar">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Status
      </label>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <select id="facility_type_status" #value="ngModel" class="form-control" [(ngModel)]="isActiveId" name="Id">
          <option [ngValue]="null" disabled>Select Status</option>
          <option *ngFor="let isactive of DropdownIsActiveList" [ngValue]="isactive.id">
            {{isactive.name}}
          </option>
        </select>
        <!--<input type="text" id="first-name" required class="form-control col-md-7 col-xs-12">-->
      </div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
      <div class="col-md-12 col-sm-12 col-xs-12 text-right">
        <button type="submit" class="btn btn-success" [disabled]="!facilityform.valid || isInvalidFile">
          <i class="icon_spac fa fa-floppy-o"></i>{{buttonName}}</button>
        <button class="btn btn-primary" type="button" data-launch-view="facilityType_table" (click)="BackToFacilityType()">
          <i class="icon_spac fa fa-close"></i>Cancel</button>
      </div>
    </div>
   
  </form>
<!-- 
  {{facilityform.value | json}} -->
</div>
</div>
      
</div>

</div>