<div class="col-md-12 col-sm-12 col-xs-12">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="view" id="add_cartype_table">
    <div class="x_panel">
      <div class="x_content">
        <br />
        <div class="col-md-12 col-sm-12 col-xs-12">
        <form id="demo-form2" parsley-validate #attractionForm="ngForm"  class="form-horizontal form-label-left" (ngSubmit)="processForm()">
          <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="form group">
                  <input type="hidden" name="id" class="form-control" #ID="ngModel" [(ngModel)]="attraction.ID" >
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Type
                    <span class="required">*</span>
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <select id="AttractionType" required  class="form-control" 
                   #value="ngModel" [(ngModel)]="tttype" name="attractionID">
                  <option [ngValue]="0" disabled>Select Type</option>
                  <!-- <option [value]="null" disabled>Select Country</option> -->
                    <option *ngFor="let attractiontypes of attractiontypes" [value]="attractiontypes.AttractionID" >
                      {{attractiontypes.AttractionName}}
                    </option>
                  </select>
                </div>
              </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Country
                  <span class="required">*</span>
              </label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <select id="countyName" required  class="form-control" 
                (change)="Getcountrywisestatelist(ttcountry);" #value="ngModel" [(ngModel)]="ttcountry" name="countryID">
                <option [ngValue]="0" disabled>Select Country</option>
                <!-- <option [value]="null" disabled>Select Country</option> -->
                  <option *ngFor="let country of countries" [value]="country.ID" >
                    {{country.Name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12 " for="last-name">State
                  <span class="required">*</span>
              </label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <select id="statename" required name="stateID" class="form-control" #value="ngModel" [(ngModel)]="ttstate" 
                (change)="Getstatewisecitylist(ttstate);">
                  <option [value]="0" disabled>Select State</option>
                  <option *ngFor="let State of state" [value]="State.ID">
                    {{State.StateName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">City
                  <span class="required">*</span>
              </label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <select id="cityname" required class="form-control" #value="ngModel" [(ngModel)]="ttcity"    name="CityID">
                  <option [value]="0" disabled>Select City</option>
                  <option *ngFor="let City of city" [value]="City.ID">
                    {{City.CityName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pin-code">Attraction Name
                  <span class="required">*</span>
              </label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" required maxlength="100" name="AttractionName" id="AttractionName" class="form-control col-md-7 col-xs-12" #AttractionName="ngModel" [(ngModel)]="attraction.AttractionName">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pin-code">Description
              </label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <!-- <input type="text" maxlength="100"  name="Description" id="Description" class="form-control col-md-7 col-xs-12" #Description="ngModel" [(ngModel)]="attraction.Description"> -->
                <textarea id="Description"  name="Description"  class="form-control"  data-parsley-trigger="keyup" data-parsley-minlength="20"
                data-parsley-maxlength="1000" 
                data-parsley-validation-threshold="10" #Description="ngModel" [(ngModel)]="attraction.Description"></textarea>
            
              </div>
            </div>
            
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Status
              </label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                  <select id="car_type_status" #value="ngModel" class="form-control" [(ngModel)]="isActiveId" name="Id">
                      <option [ngValue]="0" disabled>Select Status</option>
                      <option *ngFor="let isactive of DropdownIsActiveList" [ngValue]="isactive.id">
                        {{isactive.name}}
                      </option>
                    </select>
                <!--<input type="text" id="first-name" required class="form-control col-md-7 col-xs-12">-->
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
          
            
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Upload Image">Images
              </label>
              <div class="btn-group col-md-9 col-sm-9 col-xs-12">

                <input type="file" data-role="magic-overlay" data-target="#pictureBtn" (change)="onFileChanged($event)" multiple data-edit="insertImage" />

                <table id="Attraction_img_upload" class="table table-striped table-bordered bulk_action" style="margin-top:15px;">
                  <thead>
                    <tr>
                      <th>Image</th>
                      <th>Title</th>
                      <th>Is Main</th>
                      <th>Action</th>
                      <!--<th>Start date</th>
                              <th>Salary</th>-->
                    </tr>
                  </thead>
                  <tbody *ngIf="imageArray.length != 0">
                    <tr *ngFor="let img of imageArray;let i = index" >
                      <td>
                        <ul class="list-inline">
                          <li>
                            <img src="{{img.ImageName}}" class="avatar" alt="Avatar">
                          </li>
                        </ul>
                      </td>

                      <td>
                        <input type="text" id="Attraction_email" required class="form-control col-md-7 col-xs-12">
                      </td>
                      <td>
                          <input type="checkbox" data-on="checked" data-off="unchecked" [value]="img.isChecked" [checked]="img.isChecked" (change)="$event.target.checked ? img.isChecked = true : img.isChecked = false">
                      </td>
                      <td>
                        <a  class="btn btn-danger btn-xs" (click)="deleteAttractionImg(img,i)">
                          <i class="fa fa-trash-o"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="imageArray.length == 0">
                      <tr>
                        <td colspan="4">
                          <div>
                            No Image Found
                          </div>
                        </td>
                      </tr>
                    </tbody>
                </table>


              </div>
            </div>

          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                  <button type="submit" class="btn btn-success" [disabled]="!attractionForm.valid || isInvalidFile">
                      <i class="icon_spac fa fa-floppy-o"></i>{{buttonName}}</button>
                <button class="btn btn-primary" type="button" (click)="BackToAttraction()">
                  <i class="icon_spac fa fa-close"></i>Cancel</button>
              </div>
            </div>
          </div>
        </form>
        <div class="col-md-6 text-left">
          <!-- <button type="submit" class="btn btn-primary" >
            <i class="icon_spac fa fa-floppy-o"></i>Previous</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- x_panel end -->
</div>
</div>
