<div class="col-md-12 col-sm-12 col-xs-12">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="x_panel">
    <div class="x_title">
      <h2>Send Notifications</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li>
          <a (click)="InsertNotificationTemplate()">
            <button type="button" (click)="addNotification()" class="btn btn-info btn-sm">
              <i class="icon_spac fa fa-pencil"></i> Add </button>
          </a>
        </li>

      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="box-header">
        <form class="form-horizontal form-label-left">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2">
                <select id="value" class="form-control" name="Id">
                  <option disabled>Choose your action</option>
                  <option *ngFor="let k of actions">
                    {{k.label}}
                  </option>
                </select>
              </div>
              <div class="col-sm-3">
                <a>
                  <button type="button" class="btn btn-danger">
                    <i class="icon_spac fa fa-paper-plane"></i> Action</button>
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
      <p-table #dt [value]="notifications" [columns]="cols" [paginator]="true" [rows]="25" [(selection)]="selectedNotifications" dataKey="ID"
        class="table table-striped table-bordered">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Notifications Search " (input)="dt.filterGlobal($event.target.value, 'contains')"
              style="width:auto">
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 4em">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th style="width:6em">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-sn>
          <tr [pSelectableRow]="rowData">
            <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td>
              <span *ngIf="sn.IsEmail == 1;else elseInactiveBlock">
                <input type="checkbox" disabled checked data-toggle="toggle">
              </span>
              <ng-template #elseInactiveBlock>
                <input type="checkbox" disabled data-toggle="toggle">
              </ng-template>
            </td>
            <td>{{sn.Subject}}</td>
            <td>
              <span *ngIf="sn.IsSMS == 1;else elseInactiveBlock">
                <input type="checkbox" disabled checked data-toggle="toggle">
              </span>
              <ng-template #elseInactiveBlock>
                <input type="checkbox" disabled data-toggle="toggle">
              </ng-template>
            </td>
            <!-- <td>{{sn.SMSText}}</td> -->
            <td>
              <span *ngIf="sn.IsPushNotification == 1;else elseInactiveBlock">
                <input type="checkbox" disabled checked data-toggle="toggle">
              </span>
              <ng-template #elseInactiveBlock>
                <input type="checkbox" disabled data-toggle="toggle">
              </ng-template>
            </td>
            <!-- <td>{{sn.PushNotificationText}}</td> -->
            <!-- <td>{{sn.LastChanged}}</td> -->
            <td>
              <span *ngIf="sn.IsActive == 1;else elseInactiveBlock">
                <input type="checkbox" disabled checked data-toggle="toggle">
              </span>
              <ng-template #elseInactiveBlock>
                <input type="checkbox" disabled data-toggle="toggle">
              </ng-template>
            </td>
            <td>
              <button class="btn btn-info btn-xs" (click)="UpdateNotification(sn)">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger btn-xs" (click)="DeleteNotification(sn)">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>