<div class="col-md-12 col-lg-12 col-sm-12">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="x_panel">
        <div class="x_content">
<br />
<div class="col-md-6 col-sm-6 col-xs-12">
<form id="demo-form2" data-parsley-validate #cityform="ngForm" (ngSubmit)="processForm()" class="form-horizontal form-label-left">
    <div class="form group">
        <input type="hidden" name="id" class="form-control" #ID="ngModel" [(ngModel)]="city.ID">
    </div>


    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Country Name
            <span class="required">*</span>
        </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
           <!-- {{city.CountryID}} -->
          <select id="city_country" #CountryID="ngModel" class="form-control" [(ngModel)]="countryValue" name="countryValue" (change)="GetStatesOFtheCity(countryValue)">
            <option [value]="0" disabled>Select Country</option>
            <option *ngFor="let country of countries" [value]="country.ID">
              <!-- {{country.ID}} -->
              {{country.Name}}
            </option>
          </select>
        </div>
      </div>
      <!-- {{city.StateName}} -->
      <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">State Name
              <span class="required">*</span>
          </label>
          <div class="col-md-9 col-sm-9 col-xs-12">{{stateId}}
            <select id="city_state" #stateID="ngModel" class="form-control" [(ngModel)]="city.stateID" name="stateID">
              <option [value]="null" disabled>Select State</option>
              <option *ngFor="let state of states" [value]="state.ID">
                {{state.StateName}}
                <!-- {{state.Id}} -->
              </option>
            </select>
          </div>
        </div>

    <div class="form-group">
      
      <label 
      class="control-label col-md-3 col-sm-3 col-xs-12" 
      for="cityName">
      City Name 
      <span class="required">*</span>
      </label>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <input type="text"
         id="cityName"
         class="form-control col-md-7 col-xs-12"
         name="name"
         #facilityName = "ngModel"
         [(ngModel)]="city.Name"
         required minlength="4" maxlength="100" >
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Status
      </label>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <select id="facility_type_status" #value="ngModel" class="form-control" [(ngModel)]="isActiveId" name="Id">
          <option [ngValue]="null" disabled>Select Status</option>
          <option *ngFor="let isactive of DropdownIsActiveList" [ngValue]="isactive.id">
            {{isactive.name}}
          </option>
        </select>
        <!--<input type="text" id="first-name" required class="form-control col-md-7 col-xs-12">-->
      </div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
      <div class="col-md-12 col-sm-12 col-xs-12 text-right">
        <button type="submit" class="btn btn-success" [disabled]="!cityform.valid || isInvalidFile">
          <i class="icon_spac fa fa-floppy-o"></i>{{buttonName}}</button>
        <button class="btn btn-primary" type="button" data-launch-view="facilityType_table" (click)="BackToCity()">
          <i class="icon_spac fa fa-close"></i>Cancel</button>
      </div>
    </div>
   
  </form>
<!-- 
  {{cityform.value | json}} -->
</div>
</div>
      
</div>

</div>